<div class="card mb-4 shadow-sm mx-1">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{task?.title}}</h4>
    </div>
    <div class="card-body">
        <h1 class="card-title pricing-card-title">{{task?.priority}} <small class="text-muted">{{dueDate}}</small>
        </h1>
        <div class="list-unstyled mt-3 mb-4">
            <p>{{task?.description}}</p>
            <p>{{task?.remarks}}</p>
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary mx-1" routerLink="edit-task">Edit</button>
            <button type="button" class="btn btn-success mx-1" (click)="completeTask()">Complete</button>
            <button type="button" class="btn btn-outline-danger mx-1 mt-1" (click)="deleteTask()">Delete</button>
        </div>
    </div>
</div>